#title {
    color: black;
    background-color: rgba(3, 128, 177, 0.849);
    position: static;
    display: inline-flex;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    right: 0%;
    top: 0%;
}

#next-page {
    text-align: right;
    color: black;
}

.imageContainer {
    display: flexbox;
    flex-direction: row;

}

.imgages {
    border: 3px;
    border-style: solid;
    border-color: black;
}

html {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: powderblue;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: black;
    font-family: "courier";
}